footer {

  #displayVersion {
    color: $textFooter;
    position: fixed;
    bottom: 0.5%;
    left: 0.5%;
    font-size: $fontSize;
    text-decoration: none;
    color: $textFooter;
  }

  #displayVersion a {
      text-decoration: none;
      color: $textFooter;
  }

  #displayContact a {
      text-decoration: none;
      color: $textFooter;
      position: fixed;
      bottom: 0.5%;
      right: 0.5%;
      font-size: $fontSize;
  }


}
