* {
  box-sizing: border-box;
  margin: 0px;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

h4 {
  color: grey;
  font-weight: 400;
}

body {
  background-color: #0019a8;
  color: white;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0px solid cyan;
}

header {
  width: 400px;
  border: 0px solid yellow;
  margin-bottom: 20px;
}

main {
  color: black;
  width: 400px;
  flex: 1;
  border: 0px solid yellow;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

footer {
  margin: 10px 0px;
  border: 0px solid yellow;
}
footer a {
  color: white;
}

@media screen and (min-width: 860px) {
  header, footer {
    width: 820px;
  }

  main {
    width: 820px;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1280px) {
  header, footer {
    width: 1240px;
  }

  main, footer {
    width: 1240px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1700px) {
  header, footer {
    width: 1660px;
  }

  main {
    width: 1660px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.card {
  font-size: 12pt;
  background-color: #eee;
  border-radius: 15px;
  /* border: 1px solid rgba(0, 0, 0,0.9); */
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.5);
  height: 200px;
  padding: 10px;
}

.lines .line, .lines form {
  display: flex;
  flex-direction: column;
}
.lines .line .details, .lines form .details {
  border: 0px solid dodgerblue;
  width: 100%;
}
.lines .line .details .row, .lines form .details .row {
  border: 0px solid lightblue;
  display: flex;
  flex-direction: row;
}
.lines .line .details .row.lineColor, .lines form .details .row.lineColor {
  height: 30px;
  margin-bottom: 5px;
  border-radius: 5px 5px 0 0;
}
.lines .line .details .row.Bakerloo, .lines form .details .row.Bakerloo {
  background-color: #b26300;
}
.lines .line .details .row.Central, .lines form .details .row.Central {
  background-color: #dc241f;
}
.lines .line .details .row.Circle, .lines form .details .row.Circle {
  background-color: #ffd329;
}
.lines .line .details .row.District, .lines form .details .row.District {
  background-color: #007d32;
}
.lines .line .details .row.Northern, .lines form .details .row.Northern {
  background-color: black;
}
.lines .line .details .row.Metropolitan, .lines form .details .row.Metropolitan {
  background-color: #9b0058;
}
.lines .line .details .row.Jubilee, .lines form .details .row.Jubilee {
  background-color: #a1a5a7;
}
.lines .line .details .row.Hammersmith, .lines form .details .row.Hammersmith {
  background-color: #f4a9be;
}
.lines .line .details .row.Piccadilly, .lines form .details .row.Piccadilly {
  background-color: #0019a8;
}
.lines .line .details .row.Victoria, .lines form .details .row.Victoria {
  background-color: #0098d8;
}
.lines .line .details .row.Waterloo, .lines form .details .row.Waterloo {
  background-color: #93ceba;
}
.lines .line .details .row.lineName, .lines form .details .row.lineName {
  margin-bottom: 5px;
}
.lines .line .details .row .name, .lines form .details .row .name {
  border: 0px solid orange;
}
.lines .line .details .row .status, .lines form .details .row .status {
  flex: 1;
  text-align: right;
  padding-top: 3px;
}
.lines .line .details .row .labels, .lines form .details .row .labels {
  width: 20%;
  text-align: right;
  padding-right: 7px;
  font-weight: 600;
}
.lines .line .details .row .data, .lines form .details .row .data {
  flex: 1;
}
.lines .line .details .row img, .lines form .details .row img {
  margin: 10px auto;
  width: 50%;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}
.lines .line .details .row p, .lines form .details .row p {
  border: 0px solid orange;
  word-wrap: break-word;
}

.countryFullWidth {
  grid-column: 1/4;
}

.right {
  text-align: right;
}

/*# sourceMappingURL=style.css.map */
