:root {
  --layout-border: 0px;
}


* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	font-family: sans-serif;

}

html {


}

body {
	background-color: grey;
	height: 100vh;
	display: flex;
	flex-direction: column;

}

header {
	border: var(--layout-border) solid yellow;
	padding: 1em;
}

footer {
	border: var(--layout-border) solid yellow;
	padding: 0.5em;

}

main {
		flex: 1;
		border: var(--layout-border) solid yellow;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background-color: lightgrey;
}


.row {
	display: flex;
	flex-direction: row;
}

.column {
	border: var(--layout-border) solid red;
	padding: 10px;
	flex: 1;
	font-size: 12pt;
}

.sub-column {
	border: var(--layout-border) solid orange;
	padding: 5px;
	margin: 5px;
	flex: 1;
	font-size: 10pt;
}

.sub1 {
	background-color: lightgreen;
}

.sub2 {
	background-color: lightblue;
}

.sub3 {
	background-color: pink;
}

.feature {
	font-size: 15pt;
	flex: 3;
}

p {
	padding-top: 1em;
}


.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}
