@import 'tailwindcss';

:root {
  --background: white;
  --grey050: #eaeaea;
  --grey075: #d4d4d4;
  --grey100: #b4b4b4;
  --grey150: #999999;
  --grey200: #888888;
  --grey250: #777777;
  --grey300: #686868;
  --grey350: #585858;
  --grey400: #494949;
  --grey500: #343434;
  --grey600: #232323;
  --grey700: #1e1e1e;
  --grey800: #191919;
  --grey900: #111111;
  --textDefault: var(--grey800);
  --code: #ea3ff7;
  --design: #6adbe9;
  --electronics: #99ff3e;
  --me: #ffde00;
  --titleBar: var(--grey050);
  --menuText: var(--grey700);
  /* --menuText: var(--code); */
  --menuButton: var(--grey100);
  --menuButtonDark: var(--grey200);

  --menuTab: var(--grey075);
  --menuShadow: var(--grey300);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-grey050: var(--grey050);
  --color-grey075: var(--grey075);
  --color-grey100: var(--grey100);
  --color-grey200: var(--grey200);
  --color-grey300: var(--grey300);
  --color-grey400: var(--grey400);
  --color-grey500: var(--grey500);
  --color-grey600: var(--grey600);
  --color-grey700: var(--grey700);
  --color-grey800: var(--grey800);
  --color-grey900: var(--grey900);
  --color-textDefault: var(--textDefault);
  --color-titleBar: var(--grey050);
  --color-menuText: var(--menuText);
  --color-menuButton: var(--menuButton);
  --color-menuButtonDark: var(--menuButtonDark);
  --color-menuShadow: var(--menuShadow);

  --color-menuTab: var(--menuTab);
  --color-menuTabSelected: var(--menuTabSelected);
  --color-code: var(--code);
  --color-design: var(--design);
  --color-electronics: var(--electronics);
  --color-me: var(--me);
  --font-sans: var(--font-bai-jamjuree);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: #ededed;
    --grey100: #b4b4b4;
    --grey200: #888888;
    --grey300: #686868;
    --grey400: #494949;
    --grey500: #343434;
    --grey600: #232323;
    --grey700: #1e1e1e;
    --grey800: #191919;
    --grey900: #111111;
  }
} */

body {
  background: var(--background);
  /* color: var(--grey800); */
  color: red;
  font-family: var(--font-bai-jamjuree), sans-serif;
}

.content-1600 {
  max-width: 1600px;
  @apply mx-auto w-full;
}

.content-1400 {
  max-width: 1400px;
  @apply mx-auto w-full;
}

.content-1000 {
  max-width: 1000px;
  @apply mx-auto w-full;
}

.dev {
  @apply border-red-500/50 border;
}

.b-red {
  @apply border-red-500/50 border;
}
.b-green {
  @apply border-green-500/50 border;
}
.b-blue {
  @apply border-blue-500/50 border;
}
.b-yellow {
  @apply border-yellow-500/50 border;
}
.b-purple {
  @apply border-purple-500/50 border;
}
.b-orange {
  @apply border-orange-500/50 border;
}
.b-pink {
  @apply border-pink-500/50 border;
}
.b-gray {
  @apply border-gray-500/50 border;
}

.hover-scale-102 {
  @apply hover:scale-102 duration-250 hover:shadow-xl;
}

.hover-scale-105 {
  @apply hover:scale-105 duration-250 hover:shadow-xl;
}

.absolute-center {
  @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
}

/* Firefox scrollbar styling */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--menuButton) transparent;
}

::-webkit-scrollbar {
  background: transparent;
  width: thin;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--menuButton);
  border-radius: 50%;
}
