@import 'tailwindcss';

:root {
  --background: white;
  --grey050: #eaeaea;
  --grey100: #b4b4b4;
  --grey150: #999999;
  --grey200: #888888;
  --grey250: #777777;
  --grey300: #686868;
  --grey350: #585858;
  --grey400: #494949;
  --grey500: #343434;
  --grey600: #232323;
  --grey700: #1e1e1e;
  --grey800: #191919;
  --grey900: #111111;
  --code: #ea3ff7;
  --design: #6adbe9;
  --electronics: #99ff3e;
  --me: #ffde00;
  --titleBar: var(--grey050);
  --menuText: var(--grey800);
  --menuTop: var(--grey100);
  --menuBottom: var(--grey200);
  --menuShadow: var(--grey300);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-grey050: var(--grey050);
  --color-grey100: var(--grey100);
  --color-grey200: var(--grey200);
  --color-grey300: var(--grey300);
  --color-grey400: var(--grey400);
  --color-grey500: var(--grey500);
  --color-grey600: var(--grey600);
  --color-grey700: var(--grey700);
  --color-grey800: var(--grey800);
  --color-grey900: var(--grey900);
  --color-titleBar: var(--grey050);
  --color-menuText: var(--menuText);
  --color-menuTop: var(--menuTop);
  --color-code: var(--code);
  --color-design: var(--design);
  --color-electronics: var(--electronics);
  --color-me: var(--me);
  --font-sans: var(--font-bai-jamjuree);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: #ededed;
    --grey100: #b4b4b4;
    --grey200: #888888;
    --grey300: #686868;
    --grey400: #494949;
    --grey500: #343434;
    --grey600: #232323;
    --grey700: #1e1e1e;
    --grey800: #191919;
    --grey900: #111111;
  }
} */

body {
  background: var(--background);
  color: var(--grey800);
  font-family: var(--font-bai-jamjuree), sans-serif;
}

.devBorder {
  @apply border-red-500/50 border;
}

.absolute-center {
  @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
}
