$devBorder: 0px;

$mediaWidth1: 350px;
$mediaWidth2: 500px;
$mediaWidth25: 700px;
$mediaWidth3: 900px;
$mediaWidth4: 1000px;
$mediaWidth5: 1220px;

$mediaHeight1: 500px;
$mediaHeight2: 900px;
$mediaHeight3: 1200px;

$colorBackground: black;

$circlePink: rgba(255,0,255,1);
$circleBlue: rgba(0,220,235,.95);
$circleWhite: rgba(255,255,255,.95);
$textFooter: #ccc;
$textNormal: #aaa;
$textBright: #fff;
$textDim: #666;

$fontScreenReference: 73vh;
$fontSize: ($fontScreenReference/45);
$fontWeight: 300;
$fontSizeNormal: 1em;

$colorHello: #EEE;

$iconProject: 45%;
$iconProjectHover: $iconProject + 5%;
$fontProjectText: 1.75vh;
$fontProjectGitHub: 1.5vh;

$fontProjectText: $fontSizeNormal;
$fontProjectTech: .85em;
$fontProjectGitHub: 1em;

$fontBioName: 2.5em;
$fontBioStrapline: 1.5em;
$fontBioQualification: 1em;
$fontBioContact: $fontSizeNormal;
$fontBioText: $fontSizeNormal;



$navArrowPadding: 0;

.width10 {width: 10%};
.width13 {width: 13%};
.width15 {width: 15%};
.width20 {width: 20%};
.width25 {width: 25%};
.width30 {width: 30%};
.width40 {width: 40%};
.width50 {width: 50%};
.width65 {width: 65%};
.width75 {width: 75%};
.width90 {width: 90%};
.width100 {width: 100%};
