:root {
  --layout-border: 1px;
  --entity-margin: 20px;
}

* {
	box-sizing: border-box;
  margin: 0px;
	font-family: sans-serif;
}

a {
  text-decoration: none;
  color:blue;
}

h4 {
  color: grey;
  font-weight: 400;
}



body {
	background-color: #aaa;
  padding: var(--entity-margin);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
  align-items: center;
}


footer {
	border: var(--layout-border) solid yellow;
}

footer a {
  color:black;
}

header {
  max-width: 400px;
  width: 100%;
	border: var(--layout-border) solid yellow;
  margin-bottom: var(--entity-margin);
}

main {
    max-width: 400px;
    width: 100%;
    flex: 1;
    border: var(--layout-border) solid yellow;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: var(--entity-margin);
    grid-row-gap: var(--entity-margin);
}

@media screen and (min-width: 800px){
  header {
    max-width: 850px;
  }

  main {
    max-width: 850px;
    grid-template-columns: 1fr 1fr;

  }
}

@media screen and (min-width: 1200px){
  header {
    max-width: 1240px;
  }
  main {
    max-width: 1240px;
    grid-template-columns: 1fr 1fr 1fr;

  }
}

@media screen and (min-width: 1600px){
  header {
    max-width: 1660px;
  }

  main {
    max-width: 1660px;
    grid-template-columns: 1fr 1fr 1fr  1fr;

  }
}

.countries div img {
  margin: auto;
  width: 60%;
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
}

.country, form {
  font-size: 12pt;
  background-color: #ddd;
  border-radius: 10px;
  /* border: 1px solid rgba(0, 0, 0,0.9); */
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.5);
  height: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
}



.countryFullWidth {
  grid-column: 1 / 4;
}

.country-row, .form-row {
    border: var(--layout-border) solid lightblue;
    padding: 10px 0 0 0;
    display: flex;
}


.country-row label, .form-row label{
  padding-right: 10px;
}

.country-row input, .form-row input {
  font-size: 12pt;
  outline: none;
  flex: 1;
  height: 20px;
}

.country-row.last, .form-row.last {
  justify-content: flex-end;
  align-self: flex-end;
  margin-top: auto;
}


button {
  height: 29px;
  outline: none;
  align-items: right;
  font-size: 10pt;
  padding: 7px;
  border: 0px;
  border-radius: 5px;
  color: white;
  font-weight: 200;
  text-transform: uppercase;
}

button.reset{
    background-color: red;
    margin-right: 10px;
}

button.submit {
  background-color: dodgerblue;
}

button.info {
  background-color: orange;
}

select {
  flex: 1;
  outline: none;
  background-color: #eeeeee;
  font-size: 16px;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}
