:root {
  --layout-border: 0px;
}

* {
	box-sizing: border-box;
  padding: 0px;
  margin: 0px;
	font-family: sans-serif;
}



body {
	background-color: #99d6ff;
  padding: 10px;
	height: 100vh;
	display: flex;
	flex-direction: column;
}


header {
	border: var(--layout-border) solid yellow;
  margin-bottom: 10px;
}

footer {
	border: var(--layout-border) solid yellow;
	padding: 0.5em;

}

main {
		flex: 1;
		border: var(--layout-border) solid yellow;
		height: 100%;
		display: flex;
		flex-direction: column;
}

form {
  font-size: 12pt;
  background-color: white;
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow: 0 0 5px 0 rgba(0,0,255,0.5);
  margin-bottom: 1em;
  padding: 1em;
  width: 50%;
}

.form-row {
    border: var(--layout-border) solid red;
    padding: 10px 0 0 0;
    display: flex;
}


.form-row label {
  padding-right: 10px;
}

.form-row input {
  flex: 1;
  height: 20px;
}

.form-row.right {
  justify-content: flex-end;
}


button {
  outline: none;
  align-items: right;
  font-size: 10pt;
  padding: 7px;
  border: 0px;
  border-radius: 5px;
  color: white;
  font-weight: 200;
  text-transform: uppercase;
}

button.reset{
    background-color: red;
    margin-right: 10px;
}

button.submit {
  background-color: dodgerblue;
}

select {
  flex: 1;
  outline: none;
  background-color: #eeeeee;
  /* width: 268px; */
  font-size: 16px;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.width25 {
  width: 25%;
  min-width: 350px;
}
.width50 {
  width: 50%;
}
.width75 {
  width: 75%;
}
.width100 {
  width: 100%;
}
